.global-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color-1);
  padding: 4rem 0;
}

.home-button {
  font-size: 2.4rem;
  color: var(--off-white-color);
}

.month-controller {
  display: flex;
  align-items: center;
}

.prev-month-button {
  margin-right: 5.2rem;
}

.next-month-button {
  margin-left: 5.2rem;
}

.year-month-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--off-white-color);
}

p.month-view {
  font-size: 4.8rem;
  margin-bottom: 0.8rem;
}

p.year-view {
  font-size: 2.4rem;
}

.view-tabs-wrapper {
  display: flex;
  align-items: center;
}

.view-tab {
  margin: 1.2rem;
}

.view-tab > img {
  filter: invert(93%) sepia(17%) saturate(581%) hue-rotate(125deg) brightness(88%) contrast(100%);
}

.view-tab.selected > img {
  filter: invert(100%) sepia(0%) saturate(7428%) hue-rotate(93deg) brightness(94%) contrast(115%);
}
