body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

img {
  filter: invert(45%) sepia(63%) saturate(1946%) hue-rotate(162deg)
    brightness(95%) contrast(101%);
}
